orvibo.flow
[{"id":"eda6ff4e.2c01c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6d633d16.e8cdac","type":"websocket in","z":"eda6ff4e.2c01c","name":"Orvibo IN","server":"","client":"ca4fb06b.54b428","x":120,"y":60,"wires":[["768b6ad2.c850f4"]]},{"id":"49d200fe.bfcae","type":"websocket out","z":"eda6ff4e.2c01c","name":"Orvibo out","server":"","client":"ca4fb06b.54b428","x":390,"y":160,"wires":[]},{"id":"3bdd8eab.fdfaa2","type":"inject","z":"eda6ff4e.2c01c","name":"Open","topic":"","payload":"{\"uid\":\"807d3a1aefee\", \"order\": \"open\", \"value1\": 0}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["49d200fe.bfcae"]]},{"id":"768b6ad2.c850f4","type":"debug","z":"eda6ff4e.2c01c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":60,"wires":[]},{"id":"ac869e68.cafd28","type":"inject","z":"eda6ff4e.2c01c","name":"Close","topic":"","payload":"{\"uid\":\"807d3a1aefee\",\"order\": \"close\", \"value1\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["49d200fe.bfcae"]]},{"id":"768cb9c5.dda758","type":"inject","z":"eda6ff4e.2c01c","name":"Stop","topic":"","payload":"{\"uid\":\"807d3a1aefee\",\"order\": \"stop\", \"value1\":100}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":220,"wires":[["49d200fe.bfcae"]]},{"id":"ca4fb06b.54b428","type":"websocket-client","z":"","path":"ws://192.168.1.18:8080/ws","tls":"","wholemsg":"false"}]